<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @recipe.name %></title>
  </head>
  <body>
    <h2><%= Recipe.name %></h2>
    <h3>Ingredients: <%= Recipe.ingredients %></h3>
    <h3>Cook time: <%= Recipe.cook_time %></h3>
  </body>
</html>
